

.container{
    margin:0;
    padding: auto;
}


.top{
    
    margin: 0;
        
       
        .left{
            text-align:center;
            h1{
                font-size: 3em;
            }
        }

        .right{
            img{

                height: auto;
                width: 50%;
                padding-right: 20;
              
            }
        }
    
}

